* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    color: whitesmoke;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 1fr 75px;
    grid-template-areas: 
    "he"
    "na"
    "ma"
    "fo";
}

header {
    background-color: rgb(114, 131, 111);
    grid-area: he;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

nav {
    background-color:rgb(107, 50, 8);
    grid-area: na;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px dashed white;
}

.nav_link, #huvudtitel {
    /* stylar texten till att se ut som vanlig text och inte länkar även om det är länkar */
    color: inherit;
    text-decoration: inherit;
}

main {
    background-image: url("../misc/ruben-ramirez-xhKG01FN2uk-unsplash.jpg");
    background-color: brown;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "al ar";
}

article {
    padding: 50px;
    margin: 40px;
    background-color: rgba(99, 44, 6, 0.85);
    border-radius: 5rem;
    border: 5px dashed white;
}

#article_left {
    margin-right: 25px;
    grid-area: al;
}

#article_right {
    margin-left: 25px;
    grid-area: ar;
}

footer {
    grid-area: fo;
    background-color: rgb(107, 50, 8);
}

