* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 200vh;
    width: 100%;
    display: grid;  
    /* template är tillfälligt tills jag har innehåll för sidorna */
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 1fr 75px;
    grid-template-areas: 
    "he"
    "na"
    "xx"
    "fo";
}

header {
    background-color: lightblue;
    grid-area: he;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

nav {
    background-color:rgb(91, 31, 5);
    grid-area: na;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.nav_link {
    /* stylar texten till att se ut som vanlig text och inte länkar även om det är länkar */
    color: inherit;
    text-decoration: inherit;
}

main {
    background-image: url("../misc/daan-evers-tKN1WXrzQ3s-unsplash.jpg");
    background-color: brown;
    background-size: cover;
    
}

footer {
    grid-area: fo;
}

